<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cluedokiler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cluedo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cluedo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".profile.SearchProfile"></activity>
        <activity android:name=".profile.statistics.PersonalStatsActivity" />
        <activity android:name=".profile.pastGames.ShowPastGameActivity" />
        <activity android:name=".profile.pastGames.PastGamesActivity" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".gameTypes.GameSelectorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gameTypes.PersonalizeGameActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".dialogs.CodeAlert" />
        <activity android:name=".Statistics.GlobalStatisticsActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>