<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cluedokiler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cluedo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cluedo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowPastGameActivity"></activity>
        <activity android:name=".PastGamesActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".GameSelectorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PersonalizeGameActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".CodeAlert" />
        <activity android:name=".StatisticsActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>